<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/manga">Manga</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manga">Manga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/anime">Anime</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>